name: Run pytest

on: [push]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v3
      - name: Setup python
        uses: action/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          pip install -r requirements/aintelope.txt
          pip install -r requirements/aintelope_dev.txt
      - name: Run tests
        run: python -m pytest --cov=aintelope test
